@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

div.bg {
    position: fixed;
    top: -1em;
    width: 100%;
    height: calc(100% + 1em);
    z-index: -1;
    background-size: cover;
}

article {
    display: block;
    margin: 0 0 0 calc(220px + 6em);
    padding: 1em;
    width: 566px;
    background-color: rgba(251, 251, 251, 0.80);
    font-family: 'PT Serif', serif;
    font-size: 0.83em;
    color: rgb(105, 105, 105);
}

article:empty {
    display: none;
}

/* Nav bar styles */


.logo {
    position: absolute;
    margin: 0 0 0 5em;
    background-color: white;
}

.logo img {
    width: 220px;
    height: 231px;
}

nav {
    display: block;
    margin: 2.5em 0 0 calc(5em + 220px);
    vertical-align: top;
    font-family: 'PT Serif', serif;
}

    nav > ul {
        margin: 0;
        padding: 0;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        list-style-type: none;
    }

        /* All the rest of the navbar stuff */
        nav ul li {
            display: inline-block;
        }

            li.menu-item .name {
                padding: 1em;
                font-weight: 700;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: black;
                text-decoration: none;
                border-bottom: 2px solid white;
            }

            li.menu-item a {
                text-decoration: none;
            }

            li.menu-item:hover .name {
                border-bottom: 2px solid black;
            }

            /* Tab selection */
            div.highlight + li.menu-item .name       { border-bottom: 2px solid black; }
            div.highlight + li.menu-item.fb .name    { border-bottom: 2px solid #84adff; }
            div.highlight + li.menu-item.wwoof .name { border-bottom: 2px solid #007B0C; }

            /* Dropdowns */
            li.menu-item .dropdown {
                display: none;
                position: absolute;
                padding: 1em;
                background-color: rgba(251, 251, 251, 0.60);
                color: rgb(105, 105, 105);
                border-left: 2px solid black;
            }

            li.menu-item:hover .dropdown {
                display: inline;
            }

            /* Facebook menu item styles */
            li.menu-item.fb {
                position: relative;
                border-right: 2px solid white;
            }

            li.menu-item.fb a .name {
                color: #16249B;
                text-decoration: none;
            }

            li.menu-item.fb:hover .name {
                border-bottom: 2px solid white;
            }

            li.menu-item.fb:hover {
                border-right: 2px solid #84adff;
            }

            /* Facebook dropdown */
            li.fb div.dropdown {
                position: absolute;
                right: -2px;
                padding: 0;
                height: 535px;
                border-color: #84adff;
                border-style: solid;
                border-width: 0 2px 2px 2px;
            }

            /* WWOOF site menu item styles */

            li.menu-item.wwoof:hover .name {
                border-bottom: 2px solid green;
                /*border-right: 2px solid green;*/
            }

            li.menu-item.wwoof a .name {
                color: #007B0C;
                text-decoration: none;
            }

/* About page */

p.about label[for=map-toggle] {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

p.about iframe#map {
    display: none;
    margin-top: 1em;
}

p.about input:checked ~ iframe#map {
    display: block;
}

div#homegallery {
    margin: 1.5em auto 1.5em auto;
}

figcaption {
    font-family: 'PT Serif', serif;
}

/* Product styles */
ul.products {
    width: 30em;
    padding: 0;
    margin-top: 1em;
    list-style-type: none;
}

li.product {
    height: 7em;
    width: 100%;
    padding-top: 1em;
    background-color: white;
    border-top: 2px solid #dedede;
    margin-bottom: 1em;
    color: black;
}

li.product:last-child {
    padding-bottom: 1em;
}

    li.product p {
        margin: 0;
    }

    li.product img {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    li.product p {
        font-family: 'PT Serif', serif;
        font-weight: 700;
    }

    li.product span {
        font-family: 'PT Serif', serif;
    }

.seal {
    display: inline-block;
    margin-right: 0.5em;
}

.pure-g.product {
    background-color: white;
}

.product-description {
    padding: 1em;
    color: black;
}

.product-image, .product-info {
    margin: 1em;
}

.product-image img {
    width: 100%;
}

/* WWOOF page */
article div.wwoof {
    margin: 1em;
    padding: 1em;
    background-color: white;
}

.blob {
    margin: 1em;
    padding: 1em;
    background-color: white;
    color: black;
    border-top: 2px solid #dedede;
}

.testimonial {
    font-size: 1em;
}

.testimonial-body {
    margin-bottom: 1em;
}

.testimonial p {
    margin: 0;
    padding: 0;
}

.wwoof-sidebar {
    font-weight: 700;
    text-align: center;
}

.wwoof-sidebar a {
    color: inherit;
    text-decoration: none;
}
