@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

header {
    /*background-color: maroon;*/
    /*background-image: url('../images/background.jpg');
    background-size: cover;*/
}

article {
    display: inline-block;
    margin: 2.5em auto auto 5em;
    padding: 1em;
    background-color: rgba(251, 251, 251, 0.60);
    font-family: 'PT Serif', serif;
    color: rgb(105, 105, 105);
    /*border-left: 2px solid black;*/
}

footer {
    padding: 1em 5em 1em 5em;
    background-color: rgba(200, 200, 200, 0.9);
}

    footer span {
        font-family: 'PT Serif', serif;
    }

/* Nav bar styles */


.logo {
    display: inline-block;
    margin: 2.5em -4px 0 5em;
    background-color: white;
}

.logo img {
    width: 220px;
    height: 231px;
}

nav {
    display: inline-block;
    margin: 2.5em 0 2.5em 0;
    vertical-align: top;
    font-family: 'PT Serif', serif;
}

    nav > ul {
        margin: 0;
        padding: 0;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        list-style-type: none;
    }

        /* Weird hack-y shit for default dropdown on "about" tab */
        nav ul:not(:hover) li.about .dropdown {
            display: inline;
        }

        nav ul:not(:hover) li.about .name {
            border-bottom: 2px solid black;
        }

        /* All the rest of the navbar stuff */
        nav ul li {
            display: inline-block;
        }
                li.menu-item .name {
                    padding: 1em;
                    border-bottom: 2px solid #FFFFFF;
                    font-weight: 700;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }

                li.menu-item:hover .name {
                    border-bottom: 2px solid black;
                }

                li.menu-item .dropdown {
                    display: none;
                    position: absolute;
                    padding: 1em;
                    background-color: rgba(251, 251, 251, 0.60);
                    color: rgb(105, 105, 105);
                    border-left: 2px solid black;
                }

                li.menu-item:hover .dropdown {
                    display: inline;
                }

                /* Facebook menu item styles */
                li.menu-item.fb {
                    position: relative;
                }

                li.menu-item.fb a {
                    color: #16249B;
                    text-decoration: none;
                }

                li.menu-item.fb:hover .name {
                    border-bottom: 2px solid #16249B;
                }

                /* WWOOF site menu item styles */

                li.menu-item.wwoof:hover .name {
                    border-bottom: 2px solid green;
                }

                li.menu-item.wwoof a {
                    color: #007B0C;
                    text-decoration: none;
                }

/* Nav bar - about tab styles */
li .dropdown {
    font-size: 0.83em;
}

.dropdown a {
    color: inherit;
    cursor: pointer;
}

li.about .dropdown {
    width: 566px;
}

li.about label[for=map-toggle] {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

li.about iframe#map {
    display: none;
    margin-top: 1em;
}

li.about input:checked ~ iframe#map {
    display: block;
}

/* Nav bar - product styles */
ul.products {
    width: 30em;
    padding: 0;
    background-color: white;
}

li.product {
    height: 7em;
    width: 100%;
    padding-top: 1em;
}

li.product:last-child {
    padding-bottom: 1em;
}

    li.product p {
        margin: 0;
    }

    li.product img {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    li.product p {
        font-family: 'PT Serif', serif;
        font-weight: 700;
    }

    li.product span {
        font-family: 'PT Serif', serif;
    }

/* Nav bar - Facebook styles*/
li.fb div.dropdown {
    position: absolute;
    right: 0;
    padding: 0;
    height: 525px;
}

li.menu-item.fb .dropdown {
    border-right: 2px solid #16249B;
    border-left: none;
    /*overflow: hidden;*/
}

#fbfeed {
    /*margin-top: -70px;*/
    /*overflow: scroll;*/
}

/* Article styles */
div#homegallery {
    margin: 1.5em auto 1.5em auto;
}

    figcaption {
        font-family: 'PT Serif', serif;
    }
