extends ../includes/layout.jade

block title
    title Forest Farmstead - Biochar

block menuTitle
    .name Biochar

block content
    p
    |Woodcutter's Bitters offer a unique flavoring for your beverages.  They are inspired by a real live woodcutter (our founder) cutting firewood 'round 5 o'clock-ish looking forward to a drink at the end of the day, then the intensely verdant aroma hit him as he hit a pocket of pitch in the wood with his chainsaw.  His overpowering thought was "I want that flavor in my drink!!  Over the next year and a half he developed what is now Woodcutters Bitters.  It as good in soda water as it is in a martini adding depth, brightness, and the freshness of the outdoors to that after work drink.

