extends ../includes/layout.jade
include ../includes/mixins_products.jade

block title
    title Forest Farmstead - Charcoal

block menuTitle
    .name Charcoal

block content
    +product
        +description
            h1 Big Leaf Maple Charcoal
            p| Big leaf maple lends a sweet and smokey flavor great for vegetables, poultry, and especially pork.
            p| At Forest Farmstead se use our own hardwoods from Washington's first certified organic forest.  This easy lighting charcoal supports your family forest neighbors in sustainable managing their land while bringing you the flavors of the Northwest.
            p| Forest Farmstead Organic Charcoal is made with a non-polluting 'retort' process that keeps some of the smoke (i.e. flavor) in the wood, and makes it easy to light.  The bits that are too small for charcoal we till into our farm soil as 'biochar,' which means your support of our charcoal production is also sequestering carbon, a small step in addressing climate change, on top of the really short commute the charcoal takes from forest to grill.
            +sealOrganic
        +sidebar('/images/products/charcoal.png',
            '8',
            '2.5lbs bag',
            'Available direct from farm')
