include ../includes/mixins_menu.jade
extends ../includes/layout.jade

mixin product(name, desc, image, url)
    a(href=url)
        li.product
            div.pure-u-1-3
                img(src=image)
            div.pure-u-2-3
                p= name
                span= desc

block title
    title Forest Farmstead – Products

prepend nav-products
    +highlight

block content
    p We make a number of organic products that you want to buy from us.
    ul.products.pure-g
        +product(
            'Woodcutter\'s Bitters',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/product_bitters_logo.png',
            '/products/woodcutters.html'
        )
        +product(
            'Organic Umeboshi',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/product_umeboshi_logo.png',
            '/products/umeboshi.html'
        )
        +product(
            'Organic Umeboshi Vinegar',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/product_umeboshi_vinegar_logo.png',
            '/products/umeboshi.html'
        )
        +product(
            'Charcoal',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/product_charcoal_logo.png',
            '/products/charcoal.html'
        )

