include ../includes/mixins_global.jade
include ../includes/mixins_products.jade
extends ../includes/layout.jade

block title
    title Forest Farmstead - Umeboshi
    
block background
    +background('Ume Drying.jpg')

prepend nav-products
    +highlight

block content
    +product-detail
        +description
            h1 Umeboshi Plums
            p| Our umeboshi come from plums naturalized to our organic northwest Washington forest.  Ambient cultures along  Sea Salt cure the plums into a savory yet fruity intense flavor which is a traditional Japanese condiment for rice and seafood.  Crossing cultural lines it 'pops', as a tapenade, and as a garnish for cocktails.  Umeboshi flavor improves and becomes more subtle with age.
            +sealOrganic
            +sealGF
        +sidebar('/images/products/umeboshi.jpg',
            '15',
            '6oz jar',
            'Available direct from farm')
        +description
            h1 Umezu
            p| Our Umezu or umeboshi vinegar is the bright brine that is developed as our organic feral plums ferment in sea salt.   This salty-sour condiment is traditionally used to season sushi rice and other Japanese dishes.  In our American kitchen we use it in that way but also for salad dressings, marinades and on popcorn.
            +sealOrganic
            +sealGF
        +sidebar('/images/products/umezu.jpeg',
            '10',
            '5oz bottle',
            'Available direct from farm')


