include ../../includes/mixins_global.jade
extends ../../includes/layout.jade

block title
    title {{ page.title }} – Forest Farmstead

block background
    +background('dusk.jpg')

prepend nav-blog
    +highlight

block content
    .carbon
        h1 {{ page.title }}
        h2 {{ page.author }}
        p {{ content }}
