include ./mixins_global.jade

doctype html
html
    head
        include ./head.jade
        //- Default title is 'Forest Farmstead'
        block title
            title Forest Farmstead
    body
        //- The default background can be replaced by using the
        //- +background(image_name) mixin.  Backgrounds must be
        //- placed in the background/ folder
        block background
            +background

        //- This is the Forest Farmstead logo
        .logo
            a(href='/')
                img(src='/images/farm_logo_large.png')

        nav
            ul
                block nav
                    //- Any of the nav-* blocks can be prepended
                    //- with the +highlight() mixin.  This creates
                    //- an underline beneath the menu bar.
                    block nav-about
                        li.menu-item.about
                            a(href="/about"): .name About
                    //- block nav-blog
                    //-     li.menu-item.blog
                    //-         a(href="/blog"): .name Blog
                    block nav-products
                        li.menu-item.products
                            a(href="/products"): .name Products
                            include ./menu_products.jade
                    block nav-carbon
                        li.menu-item.carbon
                            a(href="/carbon"): .name Carbon
                            include ./menu_carbon.jade
                    block nav-fb
                        li.menu-item.fb
                            include ./menu_facebook.jade
                    block nav-wwoof
                        li.menu-item.wwoof
                            include ./menu_wwoof.jade
        article
            block content

        //- main.js included by default.  main.js is the output
        //- of browserify's compilation of main.js from the root
        //- directory
        block scripts
            script(src='/main.js')
