doctype html
html
    head
        include ./head.jade
        //- Default title is 'Forest Farmstead'
        block title
            title Forest Farmstead
    body
        .logo
            a(href='/')
                img(src='/images/farm_logo_large.png')
        nav
            ul
                li.menu-item.about
                    block menuTitle
                        .name About
                    .dropdown
                        block content
                            span Hi lol
                li.menu-item
                    include ./menu_products.jade
                li.menu-item
                    include ./menu_carbon.jade
                li.menu-item.fb
                    include ./menu_facebook.jade
                li.menu-item.wwoof
                    include ./menu_wwoof.jade
        //- main.js included by default.  main.js is the output
        //- of browserify's compilation of main.js from the root
        //- directory
        block scripts
            script(src='/main.js')
