include ./mixins_global.jade

doctype html
html
    head
        include ./head.jade
        //- Default title is 'Forest Farmstead'
        block title
            title Woodcutters Bitters
    body
        //- The default background can be replaced by using the
        //- +background(image_name) mixin.  Backgrounds must be
        //- placed in the background/ folder
        block background
            +background('forest_light.jpg')

        //- This is the Forest Farmstead logo
        .logo
            a(href='/woodcutters')
                img(src='/images/product_bitters_logo.png')

        nav
            ul
                block nav
                    //- Any of the nav-* blocks can be prepended
                    //- with the +highlight() mixin.  This creates
                    //- an underline beneath the menu bar.
                    block nav-ff
                        li.menu-item.ff
                            a(target='_blank' href="/"): .name Forest Farmstead
                    block nav-woodcutters
                        li.menu-item.woodcutters
                            a(href="/woodcutters"): .name Woodcutter's Bitters
                    block nav-fb
                        li.menu-item.fb
                            a(target='_blank' href='https://www.facebook.com/Woodbitters'): .name Facebook
        article
            block content

        //- main.js included by default.  main.js is the output
        //- of browserify's compilation of main.js from the root
        //- directory
        block scripts
            script(src='/main.js')
