doctype html
html
    head
        include ./head.jade
        //- Default title is 'Forest Farmstead'
        block title
            title Forest Farmstead
    body
        block background
            +background
        .logo
            a(href='/')
                img(src='/images/farm_logo_large.png')
        nav
            ul
                block nav
                    block nav-about
                        li.menu-item.about
                            a(href="/about"): .name About
                    block nav-products
                        li.menu-item.products
                            a(href="/products"): .name Products
                    block nav-carbon
                        li.menu-item.carbon
                            include ./menu_carbon.jade
                            //- a(href="/carbon"): .name Carbon
                    block nav-fb
                        li.menu-item.fb
                            include ./menu_facebook.jade
                    block nav-wwoof
                        li.menu-item.wwoof
                            include ./menu_wwoof.jade
        article
            block content
        //- main.js included by default.  main.js is the output
        //- of browserify's compilation of main.js from the root
        //- directory
        block scripts
            script(src='/main.js')
