mixin product(name, desc, image, url)
    a(target!=attributes.target, href=url)
        li.product
            div.pure-u-1-3
                img(src=image)
            div.pure-u-2-3
                p: strong= name
                p= desc

a(href='/wwoof')
    .name
        i.fa.fa-heart
        |&nbsp;Experience with us
.dropdown
    ul.products.pure-g
        +product(
            'Intern on the farm',
            'We are proud to be able to give others an experience of a more sustainable lifestyle and the opportunity to build real homesteading skills.',
            '/images/wwoof_logo_2.png',
            '/wwoof'
        )
        +product(
            'Stay at the farm',
            'Occasionally we are able to accomodate guests in our yurt and/or treehouse',
            '/images/airbnb_logo.png',
            'https://www.airbnb.com/rooms/12622556'
        )(target='_blank')
