mixin product(name, desc, image, url)
    a(href=url)
        li.product
            div.pure-u-1-3
                img(src=image)
            div.pure-u-2-3
                p: strong= name
                p= desc

.name: a(href="/carbon") Carbon
.dropdown
    p We use several strategies to manage our carbon footprint
    ul.products.pure-g
        +product(
            'Forest Preservation',
            'Putting about half our forest land into a permanent conservation easement has locked up 1250 metric tons of carbon dioxide',
            '/images/carbon_forest_logo.jpg',
            '/carbon'
        )
        +product(
            'Responsible forest management',
            'By managing our forest for wildlife, aesthetics, and production the carbon in our managed forest increases by 9.5 Metric Tons per year.',
            '/images/carbon_forest_management_logo.png',
            '/carbon'
        )
        +product(
            'Renewable Energy',
            'What we don\'t use on the farm from our small hydroelectric plant we put onto the grid for our neighbors to use keeping the utility from emitting 45 metric tons per year of carbon dioxide.',
            '/images/carbon_renewable_logo.png',
            '/carbon'
        )
        +product(
            'Biocharcoal',
            'The dust and small bits which are waste from our charcoal production end up as carbon sequestered in our soil about two pounds of carbon dioxide per pound of charcoal sold.',
            '/images/carbon_charcoal_logo.png',
            '/carbon'
        )
