mixin product(name, desc, image, url)
    a(href=url)
        li.product
            div.pure-u-1-3
                img(src=image)
            div.pure-u-2-3
                p= name
                span= desc
.name Carbon
.dropdown
    p We use several strategies to manage our carbon footprint
    ul.products.pure-g
        +product(
            'Forest Preservation',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/carbon_forest_logo.jpg',
            '/carbon/index.html'
        )
        +product(
            'Responsible forest management',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/carbon_forest_management_logo.png',
            '/carbon/index.html'
        )
        +product(
            'Biocharcoal',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/carbon_charcoal_logo.png',
            '/carbon/index.html'
        )
        +product(
            'Renewable Energy',
            'Product description.  You can buy this for $29.95 at Costco',
            '/images/carbon_renewable_logo.png',
            '/carbon/index.html'
        )
